
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

    
.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}
*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    background-color: #1A0B2E;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.desing-h1{
    font-weight: 700;
    color: aliceblue;
    margin-left: 20%;
}
.wave {
  background: linear-gradient(
    to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}
.list{
    list-style: none;
    display: flex;

}.list-item{
   justify-items: center;
   margin: 20px
}
.a-item{
    color: aliceblue;
    text-decoration: none;
}
.a-item:hover{
    background-color: #1A0B2E;
}
.primary-btn{
    /* width: 100%; */
    border-radius: 45%;
   padding: 12px 16px;
    font-size: medium;
    font-weight: 700;
    justify-content: center;
    background: linear-gradient( to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    margin-right:30px;

}
.primary-btn:hover{
    background: linear-gradient( to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
}
@media (max-width: 768px) {
  .navbar {
   flex-direction: column;
  }
}

.banner{
    
    background-color: #1A0B2E;
    background-image: url("./B13-A02-TechWave/assets/hero-bg.png");
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;

     display: flex;
    align-items: center; 
    width: 100%;
    /* color: aliceblue; */
    /* /* padding-bottom: 60px; */
} 
.hero {
  position: relative;
   width: 600px; 
  text-align: center;
 
padding-top: 10px;}

.parent{
  position: relative;
  width: 350px;
  z-index: 2;
  border-radius: 10%;

}
.child{
position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 120px;
  z-index: 3;
}
.h1teck{
    margin-top:10px;
  font: size 3rem;
  color: aliceblue;
}
.p{
    color: rgba(255, 255, 255, 1);
    opacity: 80%;
}
.btns{
    display: flex;
  justify-content: center;
  gap: 15px;
}
 .btn1 {
margin-bottom: 20px;
padding: 5px 10px;
border-radius: 20px;
font-weight: 500;
margin-top: 4px;
background:linear-gradient(to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    align-items: center;
    
}
.btn2{
    text-align: center;
    font-size: 1rem;
    font-family: 400;
    padding: 12px 20px;
    margin:8px;
     color: rgba(0, 255, 136, 1);
    border-radius: 30px;
    justify-content: center;
    border: 1px solid rgba(0, 255, 136, 1);
    background-color: #1A0B2E;
}
    @media (max-width: 768px) {
  .banner {
    flex-direction: column;
  }
  .btns{
    flex-direction: column;
  }
}
.poscast{
    width:100%;
    background-color: #1A0B2E;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 20px 30px; 
                 
} 
.poscast p{
    color: rgba(255, 255, 255, 1);
    opacity: 80%;
}
@media (max-width: 768px) {
  .poscast {
    width: auto;
  }
}
.pod-h1{
   font-size: medium;
    font-weight: bolder;
    padding-bottom: 10px;
}
.num1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, #140428, #1b083d);
  padding: 40px 20px;
  color: white;
  text-align: center;
}

.num-item h2 {
  font-size: 36px;
  color: #00ff9c;
  margin-bottom: 8px;
}

.num-item h2 span {
  color: #00ff9c;git
}

.num-item p {
  font-size: 12px;
  letter-spacing: 1px;
  color: #cfcfcf;
}
@media (max-width: 768px) {
  .num-item {
    flex-direction: column;
    gap: 25px;
  }
}

.grid{
    /* border: 2px solid red; */
    /* height: 600px;
    width: 100%; */
    max-width: 1600px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,180px);
    gap: 20px;
    background: #1A0B2E;
    color: aliceblue;
    margin: 0 3px 2px 30px;
    padding: 20px 20px;
    border-radius: 40px;
}
.grid-title{
    background: #1a0633;
  padding: 10px 20px;
  color: white;
}
.title{
    text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
  
}
.grid-h3{
    font-weight: bolder;
    font-size: 1rem;
    padding: 10px;
}
.grid-p{
    color: rgba(255, 255, 255, 1);
    opacity: 60%;
}
.grid img{

}

.grid-item1{
    background: rgba(53, 17, 101, 0.4);
    /* grid-column: span 1; */
    grid-row: span 2;
    border-radius: 25px;
    padding: 30px;
}
.grid-item2{
    background: rgba(53, 17, 101, 0.4);
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 25px;
    padding: 30px;
}
.grid-item3{
    background: rgba(53, 17, 101, 0.4);
    grid-column: span 2;
    grid-row: span 2;
    border-radius: 25px;
    padding: 30px;
}
.zap{
    width:60px ;
    height:60px;
    background: linear-gradient( to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
}
.grid-item4{
    background: rgba(53, 17, 101, 0.4);
    grid-column: span 2;
    grid-row: span 1;
    border-radius: 25px;
    padding: 30px;
}
.grid-item5{
    background: rgba(53, 17, 101, 0.4);
    grid-column: span 1;
    grid-row: span 1;
    border-radius: 25px;
    padding: 30px;
}
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .grid-title {
    grid-row: span 1;
  }
}
.episode{
    color: aliceblue;
    /* padding: 80px,40px; */
    background: #1A0B2E;
    /* gap:15px */
}
.episode-tittle{
    text-align: center;
   font-size: 48px;
   margin-bottom:20px;

}
.epi-grid{
    max-width: 1600px;
    display:grid;
    grid-template-columns: repeat(3,1fr); 
    gap: 30px;
    margin: auto;
}
.epi-card{
    background:rgba(37, 13, 68, 1) ;
    border-radius:24px ;
    max-width: 1600px;
    height: 300px;
    justify-items: center;
}
.epi-card:hover{
    background-color: #1a0633;
}
.epi-h3{
    font-size: 1rem;
    font-weight: bolder;
}
.epi-p{
    font-size: 16px;
    font-weight: 400;
     color:(255, 255, 255, 1);
     opacity: 80%;
}
.epi-btn{
    background: #1A0B2E;
    display: flex;
    align-items: start;
    font-size: medium;
    gap: 5px;
}
.epi-h3-p{
    align-items: center;
    justify-items: center;
}
#cc{
    color: #00ff9c;
    align-items:start;
}
@media (max-width: 576px) {
  .epi-grid{
    grid-template-columns: 1fr;
  }
  
}
.host{
    background: #1A0B2E;
   display: flex;
   color: aliceblue;
   padding: 10px 30px;

}
.host-h2{
    font-size: medium;
    font-weight: 700;
    text-align: center;
}
.h4-p{
    align-content: center;
    
}
.h4-p p{
    color: aliceblue;
    opacity: 80%;
}
.btn-a{
    display: flex;
    gap:10px;
}
.btn-ab{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  background: #1a0633;
  /* background: linear-gradient(to right,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)); */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 60%;
  padding-top: 10px;

}
.for{
    align-items: center;
}
.footer{
    background: url(./B13-A02-TechWave/assets/footer-bg.png);
    max-width: 1600px;
    height: 442;
}
.btn-foo{
    display: flex;
}